name: CI-CD with Security

on:
  push:
    branches: [ "Dev" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t myapp:latest .

  sast:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      security-events: write
      contents: read
    steps:
    - uses: actions/checkout@v4
    - uses: github/codeql-action/init@v3
      with:
        languages: java
    - uses: github/codeql-action/autobuild@v3
    - uses: github/codeql-action/analyze@v3

  sca:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - uses: dependency-check/Dependency-Check_Action@main
      with:
        project: "MyApp"
        path: "."
        format: "HTML"

  docker-scan:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - run: docker build -t myapp:latest .
    - uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'myapp:latest'
        severity: 'CRITICAL,HIGH'
        exit-code: '1'
